.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = image_tag @prototype.user.avatar ,class: 'media-object' , alt: "64x64", data:{ src: "holder.js/64x64", holder:{rendered: true}}, size: "64x64"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            %p= link_to @prototype.user.name, user_path(@prototype.user)
            %span.degree
            = @prototype.user.profile

    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag @prototype.main_image.image, class: 'img-responsive'
    .col-md-3
      - if @prototype.images.sub.blank?
        %ul.proto-sub-list.list-group
          - @prototype.images.sub.each do |i|
            %li.list-group-item
              = image_tag i.image, class: 'img-responsive'

  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
    Comments
    %span.num (#{@comments.count})
  #comment_area.col-md-8
    .comment-list
      = render partial: "comments/comment", locals: {prototype: @prototype ,comment: @comment,comments: @comments}
