.container
  .form-signin
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      %h2.form-signin-heading
        Please sign in
      %label.sr-only{for: "inputEmail"} Email address
      = f.email_field :email, placeholder: "input Email", required: true
      %label.sr-only{for: "inputPassword"} Password
      = f.password_field :password, placeholder: "input password", required: true
      .checkbox
        %label
        = f.check_box :remember_me
        Remember me
        %button.btn.btn-lg.btn-primary.btn-block{type: "submit"} Sign in
    .text-center
      %p
      Not a member?
      = link_to "Sign up now", new_user_session_path
